<%= form_with url: search_tweets_path, method: :get, local: true do %>
  <div class="search_form">
    <%= label_tag :search, '投稿を検索する' %>
    <%= text_field_tag :query %>
    <%= submit_tag '検索' %>
  </div>
<% end %>

<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', tweet_path(tweet.id) %>
          </li>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id) %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(tweet.id), data: { turbo_method: :delete } %>
          </li>
        </ul>
      </div>
      <p><%= tweet.text %></p>
      <span class="name">
        <a href="/users/<%= tweet.user.id %>">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
    </div>
  <% end %>
</div>
